@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonials::before {
  content: "\201C";
  position: absolute;
  top: -5rem;
  left: -6rem;
  line-height: 1;
  font-size: 200px;
  font-family: inherit;
  color: green;
  z-index: -1;
}

.active-tab {
  font-weight: bold;
  font-size: 17px;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  transform: rotate(0);
  background: #9c9aa6;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  display: none;
}
.open .hamburger-middle {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
